@use "../core";



@use "sass:map";

.footer-container {
  --#{core.$prefix}default-font-color: #ffffff;
  --#{core.$prefix}default-font-color-rgb: 255, 255, 255;

  --#{core.$prefix}link-color: #{core.$gray-200};
  --#{core.$prefix}link-color-rgb: #{core.to-rgb(core.$gray-200)};
  --#{core.$prefix}link-hover-color: #{core.$gray-500};
  --#{core.$prefix}link-hover-color-rgb: #{core.to-rgb(core.$gray-500)};

  // button
  --#{core.$prefix}button-bg: #{core.$light};
  --#{core.$prefix}button-color: #{core.$primary};
  --#{core.$prefix}button-hover-bg: #{core.shift-color(core.$light, core.$link-shade-percentage)};

  padding: 1em 0;
  background-color: core.$primary;
  color: var(--#{core.$prefix}default-font-color);


  .region-area {
    margin: 1rem 0 0 0;
  }

  .region-area-two {
    .inner-area-one {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;

      @media (min-width: map.get(core.$grid-breakpoints, sm)) {
        flex-direction: row;
      }

      .menu {
        flex: 1;
      }
    }
  }

  .contact-form-container {
    .title-container {
      text-align: center;
        .subtitle {
          display: block;
          @extend h4;
        }
    }

    .contact-form {
      margin: 4rem auto 0 auto;

      .form-group {
        .input-wrapper {
          position: relative;
        }

        .form-control, .form-check {
          --#{core.$prefix}gutter-top: 0.875rem;
          --#{core.$prefix}gutter-left: 0rem;

          background: transparent;
          border: none;
          border-radius: 0;
          border-bottom: 0.2rem solid rgba(var(--#{core.$prefix}default-font-color-rgb), 0.7);
          outline: none;
          color: var(--#{core.$prefix}default-font-color);

          &::placeholder {
            color: transparent;
          }

          &:focus {
            box-shadow: none;
            border-bottom: 0.2rem solid rgba(var(--#{core.$prefix}default-font-color-rgb), 1);
          }

          &#consent ~ .form-label {
            position: initial;
          }
        }

        .form-label {
          position: absolute;
          top: 0.875rem;
          left: 0;
          color: rgba(var(--#{core.$prefix}default-font-color-rgb), 1);
        }
      }

      &.validated {
        .form-control, .form-check {
          &:valid {
            border-color: var(--#{core.$prefix}form-valid-color);
          }

          &:invalid {
            border-color: var(--#{core.$prefix}form-invalid-color);
          }
        }
      }

      .view-terms {
        text-decoration: underline;
      }

      .lower-area {
        display: flex;
        align-items: center;
        gap: 0.5em;

        .form-group {
          flex: 1;
        }
      }

      @media (min-width: map.get(core.$grid-breakpoints, md)) {
        max-width: 600px;
      }
    }
  }

  .social-icons {

    a {
      color: var(--#{core.$prefix}default-font-color);
      margin: 0 0.5rem;
      font-size: 1.5rem;
      transition: color 0.3s;

      &:hover {
        color: var(--#{core.$prefix}link-hover-color);
      }
    }
  }
}

.copyright {
  text-align: center;
  font-size: core.$font-size-sm;

  p {
    margin: 0;
  }

  a { text-decoration: underline; }
}
