@forward "visually-hidden";

@use "sass:math";

@use "rfs/scss.scss";

@use "../variables";

@mixin text-outline($color: variables.$white, $thickness: 0.05rem, $offset: 0.05rem) {
  text-shadow: $offset $offset $thickness $color;
  text-stroke:  math.div($thickness, 10)  $color;
  -webkit-text-stroke: math.div($thickness, 10)  $color;
}
