@use "../../core";

@use "../mixins";

.page-home {
  .region-area-one {
    padding: 0;
  }

  .region-area-two {
    h1 {
      margin-bottom: 1rem;
    }

    p {
      line-height: core.$line-height-lg;
    }
  }

  .region-area-three, .region-area-five {
    @include mixins.dark-bg;
  }

  .region-area-seven {
    --#{core.$prefix}region-gutter-x: 0;
    --#{core.$prefix}region-gutter-y: 0;
  }
}