---
title: Cookies Policy
---

<div class="region-area region-area-one">
    <div class="container-xl">
        <div class="inner-area inner-area-one">
            <h2>{{ title }}</h2>
            <p>Cookies are small data files stored on your device. We use them to maintain your session, personalize
                pages, ads, and other content to your interests, and to generate aggregated analytics that help us
                understand usage and improve the site’s structure and content. You can adjust your browser settings to
                block some or all cookies; however, doing so may reduce functionality and impact your overall
                experience.</p>
        </div>

        <div class="inner-area inner-area-two">

            <form class="form contact-form validate" novalidate>

                <div class="accordion allow-multiple collapse cookies">

                    {% for group in cookies.groups %}

                    <div class="accordion-item {{group.id}}">
                        <div class="accordion-header">

                            <div class="accordion-title">

                                {% if 'necessary' == group.id %}
                                <span class="icon-power-off"></span>
                                {% endif %}

                                {% if 'statistics' == group.id %}
                                <span class="icon-line-chart"></span>
                                {% endif %}

                                {% if 'marketing' == group.id %}
                                <span class="icon-pie-chart"></span>
                                {% endif %}

                                {% if 'functional' == group.id %}
                                <span class="icon-server"></span>
                                {% endif %}

                                {{ group.title }}
                            </div>

                            <div class="form-group">
                                <div class="input-wrapper">
                                    <label for="{{group.id}}" class="form-label">
                                        Active:
                                    </label>
                                    {% if group.required %}

                                    <input name="{{group.id}}" type="checkbox" checked style="display: none;"/>
                                    {% endif %}
                                    <input name="{{group.id}}" id="{{group.id}}" type="checkbox" class="form-check switch" {% if group.required %} checked disabled {% endif %} />
                                </div>
                            </div>

                            <div class="collapse-toggle">
                                <span class="accordion-icon-up icon-chevron-up"></span>
                                <span class="accordion-icon-down icon-chevron-down"></span>
                            </div>
                        </div>
                        <div class="accordion-body">
                            <p>{{ group.description }}</p>

                            <div class="table cookies-table">
                                <div class="table-header">
                                    <div class="table-cell name">Cookie name</div>
                                    <div class="table-cell description">Cookie description</div>
                                    <div class="table-cell provider">Provider</div>
                                </div>
                                {% for cookie in group.items %}
                                <div class="table-row cookie-item {{ cookie.id }}">
                                    <div class="table-cell name">{{ cookie.title }}</div>
                                    <div class="table-cell description">{{ cookie.description }}</div>
                                    <div class="table-cell provider">{{ cookie.provider }}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <button type="submit" class="btn btn-primary">Save cookie preferences</button>
            </form>

        </div>
    </div>
</div>