---
permalink: /
---
<div class="region-area region-area-one">
    <div class="inner-area inner-area-one">
            <div class="main-slider swiper">
                <div class="swiper-wrapper">
                    {% for banner in banners %}
                    <div class="swiper-slide">
                        <figure class="slide-image">
                            <picture>
                                <img src="{{ banner.image }}" alt="{{ banner.title }}" />
                            </picture>
                        </figure>

                        <div class="slide-content">
                            <h2>{{ banner.title }}</h2>
                            <p>{{ banner.description }}</p>
                            <div class="button-wrapper">
                                <a href="{{ banner.url }}" class="button">Learn More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                    <span class="icon-long-arrow-right"></span>
                </div>
                <div class="swiper-button-prev">
                    <span class="icon-long-arrow-left"></span>
                </div>
            </div>
    </div>
</div>

<div class="region-area region-area-two">
    <div class="container-lg">
        <div class="inner-area inner-area-one">
            <h1>ByteThat - Your need to develop</h1>
            <p>ByteThat is a dynamic technology company headquartered in Athens. Founded in 2025, we operate primarily in e-commerce, digital transformation consulting, custom .NET web development, and responsive UI/UX design. With a commitment to innovation, quality, and sustainable growth, ByteThat partners with startups and enterprises to turn ideas into scalable, secure digital products. We deliver end-to-end services—from strategy and discovery to design, development, and go-to-market—backed by measurable outcomes. Serving clients in Greece and across Europe, we move fast without compromising craftsmanship.</p>
        </div>
    </div>
</div>

<div class="region-area region-area-seven">
    <div class="inner-area inner-area-one">
        <div class="services-lg">
            <div class=visually-hidden>
                <h2>Our Services</h2>
            </div>

            {% for service in services %}

            <div href="{{ service.url }}" class="service {% if loop.index is odd %}odd{% else %}even{% endif %}">
                <div class="image">
                    <img src="{{ service.image }}" alt="{{ service.title }}" />
                </div>
                <div class="body">
                    <div class="content">
                        <h3 class="title">{{ service.title }}</h3>
                        <p>{{ service.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--
<div class="region-area region-area-three">
    <div class="container-fluid">
        <div class="inner-area inner-area-one">
            <div class="services">
                {% for service in services %}
                <div href="{{ service.url }}" class="card service">
                    <div class="card-body">
                        <h3 class="card-title">{{ service.title }}</h3>
                        <p>{{ service.intro }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
-->

<div class="region-area region-area-three">
    <div class="container-xxl">
        <div class="inner-area inner-area-one">
    
            <h2>Our work</h2>

            <div class="projects">
                {% for project in projects %}
                <a href="{{ project.url }}" class="card project">
                    <figure class="card-image">
                        <img src="{{ project.image }}" alt="{{ project.title }}" />
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">{{ project.title }}</h3>
                        <p>{{ project.description }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<div class="region-area region-area-four">
    <div class="container-xxl">
        <div class="inner-area inner-area-one">
            <h2>What our clients say</h2>

            <div class="testimonials">

                {% for testimonial in testimonials %}
                <div class="card testimonial">
                    <figure class="card-image">
                        <img src="{{ testimonial.image }}" alt="{{ testimonial.author.company }}" />
                    </figure>
                    <figure class="card-body">
                        <blockquote class="quote">
                            {{ testimonial.quote }}
                        </blockquote>
                        <figcaption class="author">
                            <span class="name">{{ testimonial.author.name }}</span>
                            <span class="role">{{ testimonial.author.role }}</span>
                            <span class="company">{{ testimonial.author.company }}</span>
                        </figcaption>
                    </figure>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!--
<div class="region-area region-area-six">
    <div class="container-xxl">
        <div class="inner-area inner-area-one">
            <h1>[h1] This section is for demo purposes, demonstrating the typography.</h1>
            <h1>[h2] This section is for demo purposes, demonstrating the typography.</h1>
            <h2>[h2] This section is for demo purposes, demonstrating the typography.</h2>
            <h3>[h3] This section is for demo purposes, demonstrating the typography.</h3>
            <h4>[h4] This section is for demo purposes, demonstrating the typography.</h4>
            <h5>[h5] This section is for demo purposes, demonstrating the typography.</h5>
            <h6>[h6] This section is for demo purposes, demonstrating the typography.</h6>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
</div>
-->