---
permalink: /
---
<div class="region-area region-area-one">
    <div class="inner-area inner-area-one">
            <div class="main-slider swiper">
                <div class="swiper-wrapper">
                    {% for service in services %}
                    <div class="swiper-slide">
                        <figure class="slide-image">
                            <picture>
                                <img src="{{ service.image }}" alt="{{ service.title }}" />
                            </picture>
                        </figure>

                        <div class="slide-content">
                            <h2>{{ service.title }}</h2>
                            <p>{{ service.description }}</p>
                            <div class="button-wrapper">
                                <a href="{{ service.url }}" class="button">Learn More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- Add Scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
    </div>
</div>

<div class="region-area region-area-two">
    <div class="container-xxl">
        <div class="inner-area inner-area-one">
    
            <h6>Our work</h6>
            <h2>Your need to develop</h2>

            <div class="projects">

                {% for project in projects %}
                <a href="{{ project.url }}" class="card project">
                    <figure class="card-image">
                        <img src="{{ project.image }}" alt="{{ project.title }}" />
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">{{ project.title }}</h3>
                        <p>{{ project.description }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<div class="region-area region-area-three">
    <div class="container-xxl">
        <div class="inner-area inner-area-one">
            <h2>What our clients say</h2>

            <div class="testimonials">

                {% for testimonial in testimonials %}
                <div class="card testimonial">
                    <figure class="card-image">
                        <img src="{{ testimonial.image }}" alt="{{ testimonial.name }}" />
                    </figure>
                    <figure class="card-body">
                        <blockquote class="quote">
                            {{ testimonial.quote }}
                        </blockquote>
                        <figcaption class="author">
                            <span class="name">{{ testimonial.author.name }}</span>
                            <span class="role">{{ testimonial.author.role }}</span>
                            <span class="company">{{ testimonial.author.company }}</span>
                        </figcaption>
                    </figure>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="region-area region-area-four">
    <div class="container-xxl">
        <div class="inner-area inner-area-one">
            <h1>This is an h1</h1>
            <h2>This is an h2</h2>
            <h3>This is an h3</h3>
            <h4>This is an h4</h4>
            <h5>This is an h5</h5>
            <h6>This is an h6</h6>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        </div>
    </div>
</div>