<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title %} {{ title }} | {% endif%}{{ site.title }} - {{ site.slogan }}</title>
        
        {% if description %}
            <meta name="description" content="{{ description }}">
        {% elseif site.description %}
            <meta name="description" content="{{ site.description }}">
        {% endif %}

        <link rel="stylesheet" href="/assets/styles/main.css">
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body>
    <div class="site-container">
        {% include "header.njk" %}
        
        <div class="page-container {{ foo }}">
            {{ content | safe }}
        </div>

        {% include "footer.njk" %}
    </div>
    </body>
    <!--<script src="{{ '/assets/js/bootstrap.js' | url }}" type="text/javascript"></script>-->
    <script src="{{ '/assets/js/main.js' | url }}" type="text/javascript"></script>
</html>