<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title %} {{ title }} | {% endif%}{{ site.title }} - {{ site.slogan }}</title>
        <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
        
        {% if description %}
            <meta name="description" content="{{ description }}">
        {% elseif site.description %}
            <meta name="description" content="{{ site.description }}">
        {% endif %}

        <link rel="stylesheet" href="/assets/styles/main.css">
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body>
        <div class="overlay"></div>

        <div class="site-container">
            <a class="visually-hidden-focusable skip-to-main-content" href="#page-container">Skip to main content</a>

            {% include "header.njk" %}

            <main id="page-container" class="page-container page-{{ page.fileSlug }}">
                {{ content | safe }}
            </main>

            {% include "footer.njk" %}
        </div>

        {% include "cookie.njk" %}
        {% include "analytics.njk" %}

        <script src="{{ '/assets/js/main.js' | url }}"></script>
    </body>
</html>