@use "../../variables";

@use "sass:map";

// Contact page specific styles

.page-contact {
    .region-area-one {
        padding: 0;
    }
}

.stores-container {
    position: relative;
    height: calc(100vh - 4em); // fallback for browsers that do not support svh
    height: calc(100svh - 4em);

    display: flex;
    flex-direction: column;

    .stores {
        --bt-gutter-x: 1.5rem;
        --bt-gutter-y: 0;
        width: 100%;
        margin: 0 auto;
        padding-left: calc(var(--bt-gutter-x) * 0.5);
        padding-right: calc(var(--bt-gutter-x) * 0.5);
    }

    .map {
        flex: 1;
    }

    @media (min-width: map.get(variables.$grid-breakpoints, lg)) {
        flex-direction: row;

        .stores {
            width: 25%;
            height: 100%;
            overflow-y: auto;
            border-right: 1px solid var(--#{variables.$prefix}border-color);
        }

        .map {
            flex: 1.5;
            height: 100%;
        }
    }

    @media (min-width: map.get(variables.$grid-breakpoints, xl)) {
        .stores {
            width: 20%;
        }
    }
}