.cookies {
  .accordion-item {
    .accordion-header {
      padding: 0;

      > * {
        padding: var(--prefixaccordion-padding-y) var(--prefixaccordion-padding-x);
      }
    }
  }

  .cookies-table {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    .table-header { display: contents; }
    .table-row { display: contents;
      .table-cell {
        border-top: var(--bt-table-border-width) solid var(--bt-table-border-color);
      }
    }
  }
}