<div class="footer-container">
    <div class="region-area region-area-one">
        <div class="container-xl">
            <div class="inner-area inner-area-one">
                {% include "contact.njk" %}
            </div>
        </div>
    </div>
    <div class="region-area region-area-two">
        <div class="container-xl">
            <div class="inner-area inner-area-one">
                <nav class="menu">
                    <ul class="menu-list">
                    {% for item in footer_menu.items %}
                        <li class="menu-item {% if item.url === page.url %}active{% endif %}">
                            <a href="{{ item.url }}">{{ item. title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="region-area region-area-three">
        <div class="container-xl">
            <div class="inner-area inner-area-one">
                <div class="copyright">
                    <p>Copyright &copy; {% year %} - created by <a href="https://www.bytethat.gr/" target="_blank" rel="noreferrer">ByteThat</a></p>
                </div>
            </div>
        </div>
    </div>
</div>