<footer class="footer-container">
    <div class="region-area region-area-one">
        <div class="container-xl">
            <div class="inner-area inner-area-one">
                {% include "contact.njk" %}
            </div>
        </div>
    </div>
    <div class="region-area region-area-two">
        <div class="container-xl">
            <div class="inner-area inner-area-one">
                <nav class="menu" aria-label="Footer Navigation">
                    <ul class="menu-list">
                    {% for item in footer_menu.items %}
                        <li class="menu-item {% if item.url === page.url %}active{% endif %}">
                            <a href="{{ item.url }}">{{ item. title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>

                <div class="social-icons">
                    {% if site.social.github %}
                        <a href="{{ site.social.github }}" target="_blank" rel="noreferrer" class="icon-link" aria-label="GitHub"><span class="icon-github"></span></a>
                    {% endif %}

                    {% if site.social.linkedin %}
                        <a href="{{ site.social.linkedin }}" target="_blank" rel="noreferrer" class="icon-link" aria-label="LinkedIn"><span class="icon-linkedin"></span></a>
                    {% endif %}

                    {% if site.social.twitter %}
                        <a href="{{ site.social.twitter }}" target="_blank" rel="noreferrer" class ="icon-link" aria-label="Twitter"><span class="icon-twitter"></span></a>
                    {% endif %}

                    {% if site.social.facebook %}
                        <a href="{{ site.social.facebook }}" target="_blank" rel="noreferrer" class="icon-link" aria-label="Facebook"><span class="icon-facebook"></span></a>
                    {% endif %}

                    {% if site.social.instagram %}
                        <a href="{{ site.social.instagram }}" target="_blank" rel="noreferrer" class="icon-link" aria-label="Instagram"><span class="icon-instagram"></span></a>
                    {% endif %}

                    {% if site.social.youtube %}
                        <a href="{{ site.social.youtube }}" target="_blank" rel="noreferrer" class="icon-link" aria-label="YouTube"><span class="icon-youtube"></span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="region-area region-area-three">
        <div class="container-xl">
            <div class="inner-area inner-area-one">
                <div class="copyright">
                    <p>Copyright &copy; {% year %} - created by <a href="{{ site.url }}" target="_blank" rel="noreferrer">ByteThat</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>