
<div class="header-container sticky">
	<div class="region-area region-area-one">
		<div class="container-fluid">
			<div class="inner-area inner-area-one">
				<div class="logo-container">
					<a class="navbar-brand" href="/">
						<img src="{{ '/assets/images/logo.png' | url }}" alt="{{ site.name }}" height="32" class="d-inline-block align-text-top">
					</a>
				</div>

				<nav class="menu main-menu menu-expand">
						<button class="menu-toggle" type="button">
							<span class="icon"></span>
						</button>

						<ul class="menu-list menu-collapse">
						{% for item in main_menu.items %}
							<li class="menu-item {% if item.url === page.url %}active{% endif %}">
								<a href="{{ item.url }}">{{ item. title }}</a>
							</li>
						{% endfor %}
						</ul>
				</nav>
			</div>
		</div>
	</div>
</div>


