.card {
    --#{$prefix}card-spacer-x: 1.5rem;
    --#{$prefix}card-spacer-y: 1rem;
    --#{$prefix}-card-title-spacer-y: calc(var(--#{$prefix}card-spacer-y) / 2);

    --#{$prefix}card-border-width: 1px;
    --#{$prefix}card-border-radius: 0.25rem;
    --#{$prefix}card-border-color: rgba(var(--#{$prefix}default-font-color-rgb), 0.125);

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--#{$prefix}body-bg);
    background-clip: border-box;
    border: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-border-color);
    border-radius: var(--#{$prefix}card-border-radius);
    overflow: hidden;

    .card-image {
        img {
            display: block;
            width: 100%;
            height: auto;
            
            object-fit: cover;
            object-position: center;
        }
    }
    .card-body {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;

        padding: var(--#{$prefix}card-spacer-y) var(--#{$prefix}card-spacer-x);
        min-width: 0;
    }

    .card-title {
        margin-bottom: var(--#{$prefix}-card-title-spacer-y);
    }
}