@mixin container($name, $breakpoint) {
  .container-#{$name} {
    --bt-gutter-x: 1.5rem;
    --bt-gutter-y: 0;

    width: 100%;
    margin: 0 auto;

    padding-left: calc(var(--bt-gutter-x) * 0.5);
    padding-right: calc(var(--bt-gutter-x) * 0.5);
  }

  @if $breakpoint > 0 {
    @media (min-width: $breakpoint) {
      .container-#{$name} {
        max-width: $breakpoint;
      }
    }
  }
}

@each $name, $breakpoint in $grid-breakpoints {
  @include container($name, $breakpoint);
}