@use "bootstrap/scss/functions";
@use "variables";

.form {
  --#{variables.$prefix}form-valid-color: #{variables.$green};
  --#{variables.$prefix}form-invalid-color: #{variables.$red};

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
  }

  .form-control {
    --#{variables.$prefix}gutter-top: 0.375rem;
    --#{variables.$prefix}gutter-bottom: 0.375rem;
    --#{variables.$prefix}gutter-left: 0.75rem;
    --#{variables.$prefix}gutter-right: 1.75rem;

    --#{variables.$prefix}border-size: 1px;
    --#{variables.$prefix}border-radius: 4px;
    --#{variables.$prefix}border-color: rgba(var(--#{variables.$prefix}default-font-color-rgb), 1);


    display: block;
    width: 100%;
    padding: var(--#{variables.$prefix}gutter-top) var(--#{variables.$prefix}gutter-right) var(--#{variables.$prefix}gutter-bottom) var(--#{variables.$prefix}gutter-left);
    box-sizing: border-box;

    border: var(--#{variables.$prefix}border-size) solid var(--#{variables.$prefix}border-color);
    border-radius: var(--#{variables.$prefix}border-radius);

    &:focus {
      box-shadow: 0 0 .25rem var(--#{variables.$prefix}border-color);
    }
  }

  textarea.form-control {
    height: calc((var(--#{variables.$prefix}default-line-height) * var(--bt-default-font-size)) + var(--#{variables.$prefix}gutter-top) + var(--#{variables.$prefix}gutter-bottom) + (var(--#{variables.$prefix}border-size) * 2));
    min-height: calc((var(--#{variables.$prefix}default-line-height) * var(--bt-default-font-size)) + var(--#{variables.$prefix}gutter-top) + var(--#{variables.$prefix}gutter-bottom) + (var(--#{variables.$prefix}border-size) * 2));
    resize: vertical;
  }

  .form-check {
    display: inline-block;

    ~ .form-label {
      display: inline;
      cursor: pointer;
    }

    &.switch {
      --#{variables.$prefix}form-check-switch-border-width: 1px;
      --#{variables.$prefix}form-check-switch-border-color: #{variables.$gray-500};

      --#{variables.$prefix}form-check-switch-bg: #{variables.$gray-300};

      --#{variables.$prefix}form-check-switch-checked-bg: #{variables.$primary};
      --#{variables.$prefix}form-check-switch-checked-border-color: #{functions.shift-color(variables.$primary, 20%)};

      display: inline-block;
      width: 2rem;
      height: 1rem;
      appearance: none;
      border: var(--#{variables.$prefix}form-check-switch-border-width) solid var(--#{variables.$prefix}form-check-switch-border-color);
      border-radius: 1rem;

      background-color: var(--#{variables.$prefix}form-switch-bg);
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");;
      background-position: left center;

      cursor: pointer;

      &:checked {
        background-color: var(--#{variables.$prefix}form-check-switch-checked-bg);
        border-color: var(--#{variables.$prefix}form-check-switch-checked-border-color);

        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        background-position: right center;
      }

      &:disabled {
        opacity: 0.65;
        cursor: not-allowed;
      }
    }
  }

  .form-label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .form-feedback {
    min-height: calc(var(--bt-default-line-height) * var(--bt-default-font-size));

    .feedback {
      display: none;
      font-size: 0.875em;

      &.invalid {
        color: var(--#{variables.$prefix}form-invalid-color);
      }

      &.valid {
        color: var(--#{variables.$prefix}form-valid-color);
      }
    }
  }

  &.validated {
    .form-control, .form-check {
      &:valid {
        &:focus {
          box-shadow: 0 0 .25rem var(--#{variables.$prefix}form-valid-color);
        }

        border-color: var(--#{variables.$prefix}form-valid-color);
      }

      &:invalid {
        &:focus {
          box-shadow: 0 0 .25rem var(--#{variables.$prefix}form-invalid-color);
        }

        outline-color: var(--#{variables.$prefix}form-invalid-color);
        border-color: var(--#{variables.$prefix}form-invalid-color);
      }
    }

    .form-feedback {
      .feedback {
        &.visible {
          display: block;
        }
      }
    }
  }

  button {
    align-self: flex-start;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 4px;

    background-color: var(--#{variables.$prefix}button-bg);
    color: var(--#{variables.$prefix}button-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      background-color: var(--#{variables.$prefix}button-hover-bg);
    }
  }
}