@use "variables";

.table {
  --#{variables.$prefix}table-border-width: 1px;
  --#{variables.$prefix}table-border-color: #{variables.$gray-500};
  --#{variables.$prefix}table-border-radius: 0.5rem;

  --#{variables.$prefix}table-padding-x: 1rem;
  --#{variables.$prefix}table-padding-y: 1rem;

  --#{variables.$prefix}table-header-font-weight: 700;

  border: var(--#{variables.$prefix}table-border-width) solid var(--#{variables.$prefix}table-border-color);

  .table-cell {
    padding: var(--#{variables.$prefix}table-padding-y) var(--#{variables.$prefix}table-padding-x);
  }

  .table-header, .table-row {
    display: flex;

    .table-cell {
      flex: 1 1 0;

      border-right: var(--#{variables.$prefix}table-border-width) solid var(--#{variables.$prefix}table-border-color);

      &:last-of-type {
        border-right: none;
      }
    }
  }

  .table-header {
    .table-cell {
      font-weight: var(--#{variables.$prefix}table-header-font-weight);
    }
  }

  .table-row {
    border-top: var(--#{variables.$prefix}table-border-width) solid var(--#{variables.$prefix}table-border-color);
  }
}
