@use "bootstrap/scss/functions";
@use "../variables";
@use "../reboot";

@use "sass:map";

.cookie-consent-modal {
  --#{variables.$prefix}modal-gutter-x: 0;
  --#{variables.$prefix}modal-gutter-y: 1rem;

  --#{variables.$prefix}content-gutter-x: 1rem;
  --#{variables.$prefix}content-gutter-y: 0;

  --#{variables.$prefix}modal-bg: #{variables.$light};

  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: var(--#{variables.$prefix}modal-gutter-y) var(--#{variables.$prefix}modal-gutter-x);
  z-index: 200;
  font-size: 0.8rem;
  background: var(--#{variables.$prefix}modal-bg);

  .center-container {
    display: flex;
    flex-direction: column;
  }

  .content-container { padding-right: var(--#{variables.$prefix}modal-gutter-y);
    .title { @extend h3 }
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    margin: auto;

    .button { text-align: center;
      &.reject {
        --#{variables.$prefix}button-color: #{variables.$primary};
        --#{variables.$prefix}button-bg: #{variables.$light};
        --#{variables.$prefix}button-hover-bg: #{functions.shift-color(variables.$light, variables.$link-shade-percentage)};
        --#{variables.$prefix}button-hover-bg-rgb: #{functions.to-rgb(variables.$button-hover-bg)};

        border: 1px solid variables.$primary;
      }
    }

    .learn-more { width: 100%; text-align: center; }
  }

  &.visible { display: block; }

  @media (min-width: map.get(variables.$grid-breakpoints, sm)) {
    font-size: 1rem;

    .center-container {
      flex-direction: row;
    }
    .actions {
      width: auto;

      .button {
        min-width: 12rem;
      }
    }
  }

  @media (min-width: map.get(variables.$grid-breakpoints, md)) {
      --#{variables.$prefix}modal-gutter-x: 0;
      --#{variables.$prefix}modal-gutter-y: 2rem;

      --#{variables.$prefix}content-gutter-x: 2rem;
      --#{variables.$prefix}content-gutter-y: 0;

    .actions {
      .button { min-width: 14rem; }
    }
  }
}