.page-container {
    .region-area {
        --#{$prefix}region-gutter-x: 0;
        --#{$prefix}region-gutter-y: 4rem;

        padding: var(--#{$prefix}region-gutter-y) var(--#{$prefix}region-gutter-x);
    }
}

body {
  background-color: #F5F5F5;
}

@media (min-width: map-get($grid-breakpoints, xxl)) {
    body { 
        font-size: $font-size-lg;
    }
}

.skip-to-main-content {
  position: absolute;
  top: 0;
  display: inline-block;
  z-index: 201;
}

.overlay {
    --#{$prefix}overlay-bg: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--#{$prefix}overlay-bg);
    z-index: 100;

    display: none;

    &.visible { display: block; }
}

.no-scroll {
    overflow: hidden;
}