@use "../variables";

@use "sass:map";

.header-container {
    box-shadow: rgba(21, 0, 31, 0.2) 0px 3px 5px 0px;

    .region-area-one {
        background-color: variables.$light;

        .inner-area-one {
            display: flex;
            align-items: center;
            gap: 1em;
            height: 4em;

            .main-menu {
                width: auto;
                flex: 1;
                justify-content: flex-end
            }
        }
    }

    &.sticky {
        ~ .page-container {
            margin-top: 4em;
        }
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 200;
    }
}

.main-menu {
    &.menu-expand {

        @media (max-width: map.get(variables.$grid-breakpoints, lg)) {
            .menu-list {
                    position: fixed;
                    display: block;
                    top: 4rem;
                    left: 100%;
                    right: 0;
                    // display: block;
                    height: calc(100% - 4rem);
                    background: white;
                    transition: all .3s ease;
                    opacity: 0;
            }

            .menu-item {
                a { 
                    display: flex;
                    padding: 1em 1.5em; 
                }

                @media (min-width: map.get(variables.$grid-breakpoints, md)) {
                    a { font-size: 1.5rem; }
                    // padding: 1.5em 2em;
                }

            }

            &.expanded {
                .menu-list {
                    left: 0;
                    opacity: 1;
                }
            }
        }
    }
}
